.login-container{
    max-width: 360px;
    margin: auto;
    text-align: center;    
    .login-btn{
        width: 100%;
        max-width: 220px;
        min-height: 40px;
        margin: 5px;
    }
    
}
